$accentColor:#2196F3;
$whiteColor: #FFFFFF;
$mainTextColor:#212121;
$secondaryTextColor:#757575;
$footerBackgroundColor:#2F303A;
$backgroundLightColor: #F5F4FA;
$portfolioBorderColor: #EEEEEE;
$headerBorderColor: #ECECEC;
$primaryFont: "Roboto", sans-serif;
$secondaryFont: "Raleway", sans-serif;